.getStart{
    background: #F67E7E url(../img/startLeft.svg) no-repeat left bottom;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    .getStart__text{
        display: flex;
        justify-content: space-evenly;
        h1{
            color: #012F34;
            font-size: 45px;
            font-weight: 700;
        }
        button{
            color: #012F34;
            border: 2px solid #012F34;
            background-color: transparent;
            padding: 10px 33px;
            border-radius: 25px;
            font-size: 18px;
            font-weight: 600;
            outline: none;
        }
    }
}